#!/usr/bin/env python
PACKAGE = "quad_amcl"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("stop",   bool_t,   0, "A Boolean parameter.",  False)
gen.add("load_video",   bool_t,   0, "A Boolean parameter.",  False)
gen.add("folder",    str_t,    0, "Forder with the images.",  "none")

exit(gen.generate(PACKAGE, "image_loader", "ImageLoader"))
